[tool.poetry]
name = "syntrend"
version = "0.1.0"
description = ""
authors = ["Will Siddall <will.siddall@gmail.com>"]
readme = "README.md"
packages = [{include = "syntrend"}]

[tool.poetry.dependencies]
python = "^3.11"
pyyaml = "^6.0.1"
click = "^8.1.7"
pydantic = "^2.5.2"
jsonpath-ng = "^1.6.0"
jinja2 = "^3.1.2"
faker = "^26.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
black = "^23.11.0"
coverage = "^7.3.2"

[tool.pytest.ini_options]
# log_cli = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
